@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222831;
  color: #fff;
}

.card {
  position: relative;
}

.card .front {
  position: absolute;
  transform: rotateY(90deg);
  width: 170px;
  height: 170px;
}
.card .back {
  transform: rotateY(0deg);
  transition: 500ms all;
}
.rotated .front {
  transform: rotateY(0);
  transition: 500ms all;
}

.rotated .back {
  transform: rotateY(90deg);
  transition: 500ms all;
}

@media (max-width:767px) {
  .card .front {
    width: 120px;
    height: 120px;
  }
}